.reviewlist {
  border-bottom: 1px solid #d1d9db;
  padding-top: 16px;
}

.reviewlist:last-child {
  border-bottom: none;

  @media(min-width:641px) {
    padding-bottom: 0px;
  }
}

.reviewlist:first-child {
  padding-top: 0px;
}

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-Index: 1000;
  background-color: #F5F5F7;
  border-radius: '20px 20px 0 0',
}

.modalcontent {
  border-radius: 20px 20px 0 0;
  overflow-y: auto;
  max-height: 75%;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.2);
}